:root{
    --primary: #fff;
    --background-color: #F09A9A;
    --text-color:#e77373;
    --heart-color:rgb(239, 146, 231);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background-color);
    display: flex;
    align-items:center;
    justify-content: center;
}
.container{
    height: 100vh;
    display: grid;
    place-items: center;
}
.envelope> .letter> .text{
    font-family: monospace;
    color: var(--text-color);
    text-align: left;
    font-size: 10px;
}
